<a href="/lenders/destroy">Logout</a>

<h1>Name: <%= @borrower.first_name %> </h1>
<p>Amount Needed:<%= @borrower.amount_needed %></p>
<p>Amount Raised:<%= @borrower.raised %> </p>

<p>List of people who gave you money</p>
<div>
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Amount Lent</th>
			
		</tr>
			<% if @list%>
			<% @list.each do |list| %>
		<tr>
			<th><%= list.lender.first_name %></th>
			<th><%= list.lender.email %></th>
			<th><%= list.amount %></th>
			
		</tr>
		
		<% end %>
		<% end %>
	</table>
</div>
